html
{font-family: 'Cabin', sans-serif;}

body
{background: #809fab;}

#content
{width: 600px; margin: 30px auto 0 auto;}
	
#header-logo
{width: 590px; height: 160px; margin: 0 auto 10px auto;}

#header-logo img
{margin-top: 20px; border: 0px;}

#contact-form
{background-color: #2a6278; width: 600px; padding: 15px; margin: 50px 0px 10px 0px; color: #000000; border: 2px solid #000000; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

#contact-form h2
{font-family: 'Cabin', sans-serif; font-size: 36px; line-height: 40px; color: #ffffff;}

fieldset
{border: 0px solid #ffffff;}

#contact-form .text-field
{display:inline; width: 550px; height: auto; font-size: 18px; line-height: 22px; margin:10px 0 0 5px; padding:5px; background: #ffffff; border: 5px solid #a7cfdf; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

#contact-form .select-menu
{display:inline; width: 570px; height: auto; font-size: 18px; line-height: 22px; margin:10px 0 0 5px; padding:5px; background: #ffffff; border: 5px solid #a7cfdf; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer;}

#contact-form.text-field:focus, #contact-form.select-menu:focus
{background: #cccccc; border: 5px solid #4eb5de;}

#contact-form .form-submit-button
{width: 480px; height: auto; display: block; background-color: #a7cfdf; border: 1px solid #2e3133; font-size: 24px; font-weight: bold; text-align: center; color: #000000; margin: 10px auto 0 auto; padding: 5px 10px 5px 10px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer;}

#contact-form .form-submit-button:hover
{background-color: #666666; border: 1px solid #666666; color:#ffffff;}

#message
{ width:180px;margin:60px 0 0 100px; }

#message h2
{ font-size:150%;color:white; }

#message p
{ color:white;font-weight:bold;margin:6px 0px; }
