<div class="row-fluid">
    <div class="span12">
        <div id="contact-form">
            <div class="ss-form">
                <fieldset>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {
                        renderHandlebarsTemplate('static-files/templates/project-thank-you.handlebars', '#project-visuals');}"></iframe>
                    <form action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dHlhUjVPYl9oUkZnMHI5UEc1d2wtc0E6MQ&amp;ifq" method="POST"
                    target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">
                        <br>
                        <div class="errorbox-good">
                            <div class="ss-form-entry">
                                <input type="text" name="entry.0.single" value="Name*" class="required" id="entry_0" onclick="clickclear(this, 'Name*')" onblur="clickrecall(this,'Name*')" />
                            </div>
                        </div>
                        <div class="errorbox-good">
                            <div class="ss-form-entry">
                                <input type="email" name="entry.1.single" value="Email*" class="required" id="entry_1" onclick="clickclear(this, 'Email*')" onblur="clickrecall(this,'Email*')" />
                            </div>
                        </div>
                        <div class="errorbox-good">
                            <div class="ss-item ss-item-required ss-select">
                                <div class="ss-form-entry">
                                    <select name="entry.2.single" id="entry_2" class="select-menu" title="This is a title">
                                        <option value="">I consider myself ...</option>
                                        <option value="journalist">a Journalist</option>
                                        <option value="web developer">a Web Developer</option>
                                        <option value="editor">an Editor</option>
                                        <option value="publisher">a Publisher</option>
                                        <option value="social-media">a Social Media Manager</option>
                                        <option value="gadfly">a Poltical Gadfly</option>
                                        <option value="citizen">an Interested Citizen</option>
                                        <option value="willing to try">Willing to Try Anything Once</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="hidden" name="pageNumber" value="0">
                        <input type="hidden" name="backupCache" value="">
                        <div class="ss-item ss-navigate">
                            <div class="ss-form-entry">
                                <input type="submit" name="submit" class="form-submit-button" value="Receive Updates" />
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>