<h2 class="project-tagline">We'll change how you present news</h2>

<div class="row-fluid">
    <div class="span8 offset2">
        <div id="project-description">
            <h5>nwsmkr will offer an interface to an open-source javascript visualization library to:</h5>
            <ul>
                <li>Generate embed codes for visualizations that show the connections between public figures</li>
                <li>Lower the bar for journalists interested in digital storytelling</li>
                <li>Offer an entry-point for journalists who want to learn to code</li>
            </ul>
        </div>
    </div>
</div>

<h4 class="centered">Signup to receive project updates.</h4>